<div #itemRef>
  <div class="icon" (click)="deleteAddDriver()">
    <mat-icon>clear</mat-icon>
  </div>
  <form [formGroup]="driverForm">
    <div class="row">
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" formControlName="lastname" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="First Name" formControlName="firstname" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>ID Series</mat-label>
        <input type="text" matInput placeholder="ID Series" formControlName="idSeries" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>ID Number</mat-label>
        <input type="text" matInput placeholder="ID Number" formControlName="idNumber" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>CNP</mat-label>
        <input type="text" matInput width="200rem" placeholder="CNP" formControlName="cnpCode" required>
      </mat-form-field>
    </div>
  </form>
</div>
