<div class="register-card">
  <mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
      <form [formGroup]="registerForm">
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>First Name</mat-label>
            <input matInput type="text" placeholder="First name" formControlName="firstname" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" placeholder="Last Name" formControlName="lastname" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" formControlName="email" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-icon matSuffix matTooltip="Your password must be at least 6 characters characters.">help_outline</mat-icon>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button mat-raised-button  (click)="register()" color="primary">REGISTER</button>
      </div>
    </div>
  </mat-card>
</div>
