<div class="row d-flex align-items-center justify-content-center" style="margin: 0">
  <div class="col-md-8 col-12">
    <mat-card>
      <mat-card-title>Chart</mat-card-title>
      <mat-card-content>
        <chart></chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 col-12 d-flex align-items-center justify-content-center">
    <button mat-raised-button color="primary" (click)="onClick()" style="padding: 0.5rem 3rem; font-size: 1rem;">Create Insurance
    </button>
  </div>
</div>
