<mat-card>
  <mat-card-title>
    create-insurance-choose-d works!
  </mat-card-title>
  <mat-card-content>
    <h1>Do you want other drivers?</h1>
    <form [formGroup]="driversForm" (ngSubmit)="onNext()">
      <div class="row">
        <mat-radio-group formControlName="response">
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button>
        </mat-radio-group>
        <!--        </div>-->
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button mat-raised-button type="submit" color="primary" style="padding: 0.5rem 3rem; font-size: 1rem;">next
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
