.row {
  justify-content: center;
}

form {
  margin: 1rem !important;
}

button {
  margin: 2rem;
}

mat-icon {
  color: rgba(255, 255, 255, .7);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
