<mat-card>
  <mat-card-title>
    <p>Saved Information</p>
  </mat-card-title>
</mat-card>
<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>person</mat-icon>
            Personal Information
        </div>
      </ng-template>
      <display-pi-i></display-pi-i>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>business</mat-icon>
            Organizational Information
        </div>
      </ng-template>
      <display-pi-l></display-pi-l>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>time_to_leave</mat-icon>
            Vehicles
        </div>
      </ng-template>
      <display-v></display-v>
    </mat-tab>
  </mat-tab-group>
</mat-card>
