<mat-card>
  <mat-card-title>
    <p>Saved Information</p>
  </mat-card-title>
</mat-card>
<!--<div class="row">-->
<!--  <div class="col">-->
<!--    <mat-card>-->
<!--      <mat-card-title>-->
<!--        <div class="title">-->
<!--          <mat-icon>person</mat-icon>-->
<!--          <h2>Personal Information</h2>-->
<!--        </div>-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <display-pi-i></display-pi-i>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--    <mat-card>-->
<!--      <mat-card-title>-->
<!--        <div class="title">-->
<!--          <mat-icon>business</mat-icon>-->
<!--          <h2>Organizational Information</h2>-->
<!--        </div>-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <display-pi-l></display-pi-l>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <mat-card>-->
<!--      <mat-card-title>-->
<!--        <div class="title">-->
<!--          <mat-icon>time_to_leave</mat-icon>-->
<!--          <h2>Vehicles</h2>-->
<!--        </div>-->
<!--      </mat-card-title>-->
<!--      <mat-card-content>-->
<!--        <display-v></display-v>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</div>-->
<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>person</mat-icon>
<!--          <h2>-->
            Personal Information
<!--          </h2>-->
        </div>
      </ng-template>
      <display-pi-i></display-pi-i>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>business</mat-icon>
<!--          <h2>-->
            Organizational Information
<!--          </h2>-->
        </div>
      </ng-template>
      <display-pi-l></display-pi-l>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="title">
          <mat-icon>time_to_leave</mat-icon>
<!--          <h2>-->
            Vehicles
<!--          </h2>-->
        </div>
      </ng-template>
      <display-v></display-v>
    </mat-tab>
  </mat-tab-group>
</mat-card>
