<div class="login-card">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div class="row">
          <mat-form-field class="col-12 col-md-8">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col-12 col-md-8">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" type="password" formControlName="password">
          </mat-form-field>
        </div>
        <span class="text-600 font-medium line-height-3">Don't have an account? </span>
        <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer" routerLink="/register">Create today!</a>
      </form>
    </mat-card-content>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <button [disabled]="!isValid()" mat-raised-button (click)="onSubmit()" color="primary">LOGIN</button>
      </div>
    </div>
  </mat-card>
</div>
