<mat-toolbar>
  <mat-toolbar-row>
    <span><a href="/auth-home"><img id="logo" src="../../../assets/logoInsureMeRo.png" alt="logo"/></a></span>
    <span class="spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu">
      <div class="user">
        <div class="avatar">
          {{getInitials()}}
        </div>
        <div class="full-name">
          {{getUserName()}}
        </div>
      </div>
    </button>
    <mat-menu #menu="matMenu">
      <ng-template ngFor let-item [ngForOf]="user_dropdown" let-i="index">
        <button mat-menu-item id="{{item.label}}" (click)="onClick(item)">{{item.label}}</button>
      </ng-template>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
