<!--<div id="content" #content style="color: grey; width: 100vw; padding: 20px; background-color: #fff">-->
<!--  &lt;!&ndash;  <div class="row">&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="col" >&ndash;&gt;-->
<!--  <table>-->
<!--    <tr>-->
<!--      <td>-->

<!--        <table>-->
<!--          <thead>-->
<!--          <th>Owner</th>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <th>Name</th>-->
<!--            <td>{{lastInsurance.personalInfo.name}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Identity Card Series</th>-->
<!--            <td>{{lastInsurance.personalInfo.identityCardSeries}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Identity Card Nr</th>-->
<!--            <td [innerHTML]="lastInsurance.personalInfo.identityCardNr"></td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Code</th>-->
<!--            <td>{{lastInsurance.personalInfo.code}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Address</th>-->
<!--            <td>{{getAddress()}}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </td>-->
<!--      <td>-->
<!--        <table>-->
<!--          <thead>-->
<!--          <th>Vehicle</th>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <th>Name</th>-->
<!--            <td>{{getVehicle()}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Registration Number</th>-->
<!--            <td>{{lastInsurance.vehicle.registrationNr}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Chassis Series/CIV Series</th>-->
<!--            <td>{{lastInsurance.vehicle.chassisSeries}}/{{lastInsurance.vehicle.civSeries}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Cylindrical Capacity/Maximal Net Power</th>-->
<!--            <td>{{lastInsurance.vehicle.cylindricalCapacity}}/{{lastInsurance.vehicle.maxNetPower}}</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th>Number of seats/Maximal Total Mass</th>-->
<!--            <td>{{lastInsurance.vehicle.seatsNr}}/{{lastInsurance.vehicle.maxTotalMass}}</td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->
<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    <div class="col">&ndash;&gt;-->

<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--<button (click)="makePdf()">Generate PDF</button>-->
