<mat-card>
  <mat-card-title>
    create-insurance-choose-type-pi works!
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col d-flex justify-content-evenly align-items-center">
        <button mat-raised-button type="submit" color="primary" style="padding: 0.5rem 3rem; font-size: 1rem;" (click)=onClickIndividual()>
          Individual
        </button>
<!--      </div>-->
<!--      <div class="col-6  d-flex justify-content-center">-->
        <button mat-raised-button type="submit" color="primary" style="padding: 0.5rem 3rem; font-size: 1rem;"  (click)=onClickLegalPerson()>
          Legal Person
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
