<div #insuranceCard>
  <mat-card>
    <mat-card-title>
      <h1>Insurance for {{insurance["vehicle"]["registrationNr"]}}</h1>
    </mat-card-title>
    <mat-card-content>
      <h3>
        <label>Name:</label> {{insurance["personalInfo"]["name"]}}
        <br>
        <label>Vehicle:</label> {{insurance["vehicle"]["make"] + " " + insurance["vehicle"]["model"]}}
        <br>
        <label>Expire date:</label> {{insurance["insurance"]["validTo"]}}

      </h3>
    </mat-card-content>
  </mat-card>
  <p>
    {{isExpired ? 'Your insurance is expired/will expire' : ' '}}
  </p>
</div>
