<form [formGroup]="personalInfoForm" (ngSubmit)="onNext()">
  <div class="row">
    <div class="col-12  d-flex justify-content-center">
      <button mat-raised-button color="primary" style="padding: 0.5rem 3rem; font-size: 1rem;">Use your info from
        your Profile
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12  d-flex justify-content-center" style="margin: 1rem;">
      <h1 style="margin: 0;">OR</h1>
    </div>
  </div>

  <!--  <div formGroupName="user">-->

  <div class="row">
    <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput placeholder="Last Name" formControlName="lastname" required>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
      <mat-label>First Name</mat-label>
      <input type="text" matInput placeholder="First Name" formControlName="firstname" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
      <mat-label>ID Series</mat-label>
      <input type="text" matInput placeholder="ID Series" formControlName="idSeries" required>
    </mat-form-field>
    <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
      <mat-label>ID Number</mat-label>
      <input type="text" matInput placeholder="ID Number" formControlName="idNumber" required>
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
      <mat-label>CNP</mat-label>
      <input type="text" matInput width="200rem" placeholder="CNP" formControlName="cnpCode" required>
    </mat-form-field>
  </div>
  <!--  </div>-->

  <div formGroupName="address">
    <div class="row">
      <mat-form-field appearance="outline" color="accent" class=" col-12 col-md-3">
        <mat-label>City</mat-label>
        <input type="text" id="inputCity" matInput placeholder="City" formControlName="city" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="form-group col-12 col-md-3">
        <mat-label>County</mat-label>
        <input type="text" id="inputCounty" matInput placeholder="County" formControlName="county" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>Street</mat-label>
        <input type="text" id="inputStreet" matInput placeholder="Street" formControlName="street" required>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>Number</mat-label>
        <input type="text" id="inputNumber" matInput placeholder="Number" formControlName="number" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" color="accent" class="col-12 col-md-3">
        <mat-label>ZIP Code</mat-label>
        <input type="text" id="inputZIP" matInput placeholder="ZIP" formControlName="zip" required>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button mat-raised-button matStepperNext type="submit" color="primary"
              style="padding: 0.5rem 3rem; font-size: 1rem;">next
      </button>
    </div>
  </div>
</form>

