<mat-card>
  <mat-card-title class="d-flex justify-content-between align-items-center">
    <p>User Account Information</p>
  </mat-card-title>
  <mat-card-content>
    <div class="row">
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput #lastname [disabled]="!isEditableLastName" placeholder="Last Name"
               value="{{getLastname()}}">
        <button mat-icon-button matSuffix (click)="saveNewLastname(lastname.value)">
          <mat-icon color="{{isEditableLastName? 'accent': '#fff'}}">{{isEditableLastName ? 'done' : 'edit'}}</mat-icon>
        </button>
        <button *ngIf="isEditableLastName" mat-icon-button matSuffix (click)="closeLastname()">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>First Name</mat-label>
        <input type="text" matInput #firstname [disabled]="!isEditableFirstName" placeholder="First Name"
               value="{{getFirstname()}}">
        <button mat-icon-button matSuffix (click)="saveNewFirstname(firstname.value)">
          <mat-icon color="{{isEditableFirstName? 'accent': '#fff'}}">{{isEditableFirstName ? 'done' : 'edit'}}</mat-icon>
        </button>
        <button *ngIf="isEditableFirstName" mat-icon-button matSuffix (click)="closeFirstname()">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" color="accent">
        <mat-label>Email</mat-label>
        <input type="email" #email matInput [disabled]="!isEditableEmail" placeholder="Email" value="{{getEmail()}}">
        <button mat-icon-button matSuffix (click)="saveNewEmail(email.value)">
          <mat-icon color="{{isEditableEmail? 'accent': '#fff'}}">{{isEditableEmail ? 'done' : 'edit'}}</mat-icon>
        </button>
        <button *ngIf="isEditableEmail" mat-icon-button matSuffix (click)="closeEmail()">
          <mat-icon color="warn">close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
